@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #0d0d11;
  font-family: 'Unbounded', sans-serif;
}

.App {
  min-height: 100vh;
}
